*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: min-content;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
}
.box{
    height: 5rem;
    width: 5rem;
}
button{
    border-style: none;
    cursor: pointer;
}